.vscode/settings.json
v36/*
v36.old/*
pandas/*
c/*
/src/r/__pycache__/*
__pycache__/*
sqlhelpers/*
src/__pycache__/*.pyc
src/DomainKeys.csv
src/DomainKeys.json
.vscode/*
msvcr100.dll
Microsoft.Build.Framework.dll
txt/*
prod.env
pyEExt.code-workspace
tmp.csv
tmp.json
.vscode/launch.json
cert/googletrans.cer
src/txtstoredf
